title = "economic calendar"
url = "/"
layout = "default"
==
<link href="{{ 'assets/css/economic.css'|theme }}" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

<div class="market" id="app">
    <el-row>
        <div class="grid-content bg-purple-dark">
            <el-col :span="21">
                <ul class="clendar-ul calendar-pointer">
                    <li @click="handleChangeWeek('Last week')" v-bind:class="{ this_week : temp.time == 'Last week' ? true : false }"> < Last week</li>
                    <li @click="handleChangeWeek('This week')" v-bind:class="{ this_week : temp.time == 'This week' ? true : false }" style="padding-top: 20px;">This week</li>
                    <li v-for="item in timeArray" @click="handleChangeDate(item.all)" v-bind:class="{ today_date: item.all == temp.date ? true : false }">
                        <p v-html="item.simple" style="margin-bottom: 0px;"></p>
                        <p v-html="item.weekday" style="font-size: 11px;"></p>
                    </li>
                    <li @click="handleChangeWeek('Next week')" v-bind:class="{ this_week : temp.time == 'Next week' ? true : false }">Next week > </li>
                </ul>
            </el-col>
        
            <el-col :span="3">
                <el-popover
                    placement="bottom"
                    width="600"
                    trigger="manual"
                    v-model="showFilter">
                    <el-form ref="temp" :model="temp" label-position="top" class="calendar-form">
                        <el-form-item label="Importance">
                            <el-checkbox-group v-model="temp.importance" :min="1">
                                <el-checkbox label="High"></el-checkbox>
                                <el-checkbox label="Middle"></el-checkbox>
                                <el-checkbox label="Low"></el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>

                        <el-form-item label="Event Type">
                            <el-checkbox-group v-model="temp.event" :min="1">
                                <el-checkbox label="Financial Events"></el-checkbox>
                                <el-checkbox label="Economic Data"></el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>
            
                        <el-form-item label="Time Zone">
                            <el-select v-model="temp.zone" placeholder="select" @change="handleChangeZone" style="width: 400px;">
                                <el-option label="(GMT-11:00) Midway Island, Samoa" value="-11"></el-option>
                                <el-option label="(GMT-10:00) Hawaii-Aleutian" value="-10"></el-option>
                                <el-option label="(GMT-09:00) Gambier Islands" value="-9"></el-option>
                                <el-option label="(GMT-08:00) Tijuana, Baja California" value="-8"></el-option>
                                <el-option label="(GMT-07:00) Mountain Time (US &amp; Canada)" value="-7"></el-option>
                                <el-option label="(GMT-06:00) Saskatchewan, Central America" value="-6"></el-option>
                                <el-option label="(GMT-05:00) Guadalajara, Mexico City, Monterrey" value="-5"></el-option>
                                <el-option label="(GMT-04:00) La Paz" value="-4"></el-option>
                                <el-option label="(GMT-03:00) UTC-3" value="-3"></el-option>
                                <el-option label="(GMT-02:00) Mid-Atlantic" value="-2"></el-option>
                                <el-option label="(GMT-01:00) Azores" value="-1"></el-option>
                                <el-option label="(GMT) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London" value="0">
                                </el-option>
                                <el-option label="(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna" value="1">
                                </el-option>
                                <el-option label="(GMT+02:00) Beirut" value="2"></el-option>
                                <el-option label="(GMT+03:00) Minsk" value="3"></el-option>
                                <el-option label="(GMT+04:00) Abu Dhabi, Muscat" value="4"></el-option>
                                <el-option label="(GMT+05:00) Ekaterinburg" value="5"></el-option>
                                <el-option label="(GMT+06:00) Astana, Dhaka" value="6"></el-option>
                                <el-option label="(GMT+07:00) Bangkok, Hanoi, Jakarta" value="7"></el-option>
                                <el-option label="(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi" value="8"></el-option>
                                <el-option label="(GMT+09:00) Osaka, Sapporo, Tokyo" value="9"></el-option>
                                <el-option label="(GMT+10:00) Brisbane" value="+10"></el-option>
                                <el-option label="(GMT+11:00) Solomon Is., New Caledonia" value="11"></el-option>
                            </el-select>
                        </el-form-item>
            
                        <el-form-item label="Region">
                            <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">All
                            </el-checkbox>
                            <el-checkbox-group v-model="temp.country" @change="handleCountryChange" :min="1">
                                <el-checkbox label="Australia"></el-checkbox>
                                <el-checkbox label="Canada"></el-checkbox>
                                <el-checkbox label="China"></el-checkbox>
                                <el-checkbox label="European Union"></el-checkbox>
                                <el-checkbox label="France"></el-checkbox>
                                <el-checkbox label="Germany"></el-checkbox>
                                <el-checkbox label="Italy"></el-checkbox>
                                <el-checkbox label="Japan"></el-checkbox>
                                <el-checkbox label="New Zealand"></el-checkbox>
                                <el-checkbox label="Switzerland"></el-checkbox>
                                <el-checkbox label="United Kingdom"></el-checkbox>
                                <el-checkbox label="United States"></el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>

                        <el-form-item>
                            <el-button type="warning" @click="handleConfirmFilter">Apply Filter</el-button>
                            <el-button @click="handleDefault">Cancel</el-button>
                        </el-form-item>
                    </el-form>
                    <i class="iconfont icon-shaixuan calendar-pointer calendar-left" 
                        v-bind:class="{ filter_class : temp.filter == true ? true : false }" 
                        slot="reference" 
                        @click="showFilter = !showFilter">Filter</i>
                </el-popover>
            </el-col>
        </div>
    </el-row>

    <el-table :data="tableData" ref="table" stripe style="width: 100%" highlight-current-row v-loading="listLoading" @expand-change="rowExpand" 
        :span-method="arraySpanMethod" :row-class-name="setClassName">
        <template slot="empty">
            No data
        </template>
        <el-table-column prop="date" label="Time">
            <template slot-scope="scope">
                <span v-if="scope.row.id !='--' && scope.row.date_show != 'holiday'" :style=" {color: scope.row.importance>=3 ? '#f33d3d' : ''}" v-html="scope.row.show_date"></span>
                <span v-else-if="scope.row.date_show == 'holiday'"  v-html="scope.row.show_time"></span>
                <span v-else v-html="`${formatWeekDay(scope.row.timeLine)}`"></span>
            </template>
        </el-table-column>

        <el-table-column prop="country" label="Currency">
            <template slot-scope="scope" v-if="scope.row.id != '--'">
                <div v-if="scope.row.currency != 'EUR' && scope.row.show_currency != ''">
                    <img :src="`/themes/demo/assets/images/flag/${scope.row.currency}.png`" width="32" height="21" style="margin-top: -1px;"/>
                    <span :style="{color: scope.row.importance>=3 ? '#f33d3d' : ''}" v-html="scope.row.currency">{{scope.row.currency}}</span>
                </div>

                <div v-else-if="scope.row.show_currency != ''">
                    <img :src="`/themes/demo/assets/images/flag/${scope.row.country}.png`" width="32" height="21" style="margin-top: -1px;"/>
                    <span :style="{color: scope.row.importance>=3 ? '#f33d3d' : ''}" v-html="scope.row.currency">{{scope.row.currency}}</span>
                </div>
            </template>
        </el-table-column>

        <el-table-column prop="title" label="Event" min-width="200px">
            <template slot-scope="scope" v-if="scope.row.id != '--'">
                <span v-if="scope.row.date_show != 'holiday'" :style="{color: scope.row.importance>=3 ? '#f33d3d' : ''}" v-html="scope.row.title">{{scope.row.title}}</span>
                <span v-else v-html="`${scope.row.holidayName}-${scope.row.title}`"></span>
            </template>
        </el-table-column>

        <el-table-column prop="importance" label="Importance">
            <template slot-scope="scope" v-if="scope.row.id != '--' && scope.row.date_show != 'holiday'">
                <i class="el-icon-star-on" v-for="i in [1,2,3]" :key="i"
                    :style="{color: i<=scope.row.importance ? scope.row.importance>=3 ? '#f33d3d' : '#f3953d' : '#f0f0f0'}"></i>
            </template>
        </el-table-column>

        <el-table-column prop="previous" label="Previous">
            <template slot-scope="scope" v-if="scope.row.id != '--' && scope.row.date_show != 'holiday'">
                <span v-html="scope.row.previous">{{scope.row.previous}} {{scope.row.unit != 'null' ? scope.row.unit:''}}</span>
            </template>
        </el-table-column>

        <el-table-column prop="forecast" label="Forecast">
            <template slot-scope="scope" v-if="scope.row.id != '--' && scope.row.date_show != 'holiday'">
                <span v-if="scope.row.forecast != null" v-html="scope.row.forecast">{{scope.row.forecast}}
                    {{scope.row.unit != 'null' ? scope.row.unit:''}}</span>
                <span v-else>---</span>
            </template>
        </el-table-column>

        <el-table-column prop="reality" label="Actual">
            <template slot-scope="scope" v-if="scope.row.id != '--' && scope.row.date_show != 'holiday'">
                <span v-if="scope.row.reality != null" v-html="scope.row.reality">{{scope.row.reality}}
                    {{scope.row.unit != 'null' ? scope.row.unit:''}}</span>
                <span v-else>---</span>
            </template>
        </el-table-column>

        <el-table-column prop="reality" label="Graph">
            <template slot-scope="scope" v-if="scope.row.id != '--' && scope.row.date_show != 'holiday'">
                <i class="iconfont icon-tongjitubiao calendar-pointer" @click="handleShowCharts(scope.row)"></i>
            </template>
        </el-table-column>

        <el-table-column label="Detail">
            <template slot-scope="scope" v-if="scope.row.id != '--' && scope.row.date_show != 'holiday'">
                    <i class="iconfont icon-xiangqing calendar-pointer" @click="toogleExpand(scope.row)"></i>
            </template>
        </el-table-column>

        <el-table-column type="expand" width="1">
            <template slot-scope="props">
                <el-row :gutter="20">
                    <el-col :span="24">
                        <div v-show="props.row.overview">
                            <div class="overViewBox event">
                                <div class="left">
                                    <div class="releaseInfo bold">
                                        <span>Latest Release
                                            <div class="noBold" v-html="props.row.date.slice(0, 10)">
                                                {{ props.row.date.slice(0, 10) }}</div>
                                        </span>
                                        <span>Reality
                                            <div class="arial_14 redFont"
                                                v-html="props.row.reality == '' ? '--' : props.row.reality">
                                                {{ props.row.reality == '' ? '--' : props.row.reality }}</div>
                                        </span>
                                        <span>Forecast
                                            <div class="arial_14 noBold"
                                                v-html="props.row.forecast == '' ? '--' : props.row.forecast">
                                                {{ props.row.forecast == '' ? '--' : props.row.forecast }}</div>
                                        </span>
                                        <span>Previous
                                            <div class="arial_14 noBold blackFont"
                                                v-html="props.row.previous == '' ? '--' : props.row.previous">
                                                {{ props.row.previous == '' ? '--' : props.row.previous }}</div>
                                        </span>
                                    </div>
                                    <div v-html="props.row.overview" style="margin-top: 30px;"></div>
                                    <p>Source: <a :href="props.row.source_of_report_link" target="_blank"
                                            style="text-decoration: none; cursor: pointer;"
                                            v-html="props.row.source_of_report">{{ props.row.source_of_report }}</a>
                                    </p>
                                </div>
                                <div class="right">
                                    <div>
                                        <span>Importance:</span>
                                        <span>
                                            <i class="el-icon-star-on" v-for="i in [1,2,3]" :key="i"
                                                :style="{color: i<=props.row.importance ? props.row.importance>=3 ? '#f33d3d' : '#f3953d' : '#f0f0f0'}"></i>
                                        </span>
                                    </div>
                                    <div>
                                        <span>Country:</span>
                                        <span>
                                            <div v-if="props.row.currency != 'EUR'">
                                                <img :src="`/themes/demo/assets/images/flag/${props.row.currency}.png`" width="32" height="21" style="margin-top: -1px;"/>
                                            </div>
                            
                                            <div v-else>
                                                <img :src="`/themes/demo/assets/images/flag/${props.row.country}.png`" width="32" height="21" style="margin-top: -1px;"/>
                                            </div>
                                        </span>
                                    </div>
                                    <div>
                                        <span>Currency:</span>
                                        <span
                                            v-html="props.row.history_currency">{{ props.row.history_currency }}</span>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </el-col>
                </el-row>
            </template>
        </el-table-column>
    </el-table>

    <!-- <div class="pages">
        <el-pagination @current-change="handleCurrentChange" :page-size="temp.limit" background
            layout="prev, pager, next, jumper" :total="total" :current-page.sync="nowPage"></el-pagination>
    </div> -->

    <el-dialog :title="historyTitle" :visible.sync="histotyDialog">
        <div id="historyCharts" style="width: 100%;height: 300px;" v-loading="historyLoading"></div>
    </el-dialog>
</div>

{% put scripts %}
<script src="{{ 'assets/javascript/vue.js'|theme }}"></script>
<script src="{{ 'assets/javascript/element-index.js'|theme }}"></script>
<script src="{{ 'assets/javascript/echarts.min.js'|theme }}"></script>
<script type="text/javascript" src="/themes/demo/assets/js/economic_calendar_en.js?v=987878"></script>
{% endput %}