description = "Default layout"
==
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Algoal365 - {{ this.page.title }} </title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="keywords" content="{{ this.page.seo_keywords }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <link rel="icon" type="image/png" href="/icon.png">
    <link href="{{ 'assets/css/vendor.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/theme.css?v=334455'|theme }}" rel="stylesheet">
    <link href="//at.alicdn.com/t/font_1434648_1hb5bpeshl7.css" rel="stylesheet">
    {% styles %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149793442-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-149793442-1');
    </script> -->
</head>

<body>

    <!-- Header -->
    <header id="layout-header">
        {% partial 'site/header' %}
    </header>

    <!-- Content -->
    <section id="layout-content">
        {% page %}
    </section>

    <!-- Footer -->
    <footer id="layout-footer">
        {% partial 'site/footer' %}
    </footer>

    <!-- Scripts -->
    <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
    <script src="{{ 'assets/javascript/app.js'|theme }}"></script>

    {% framework extras %}
    {% scripts %}

</body>

</html>
