.market {
    width: 100%;
    margin: 20px auto;
}

.el-table th {
    /* color: #ba9b5b; */
	color:#000000;
}

.el-table--mini, .el-table--small, .el-table__expand-icon {
    font-size: 14px;
}

.el-table {
    font-size: 14px !important;
    font-family: 'arial';
}

.releaseInfo {
    /* border-top: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA; */
    margin-top: 30px;
}

.bold {
    font-weight: bold;
}

.noBold {
    font-weight: normal !important;
}

.releaseInfo span {
    display: inline-block;
    width: 18%;
    padding-right: 10px;
    line-height: 30px;
}

.releaseInfo SPAN:first-child {
    /* width: 25%; */
    /* border-right: 1px solid #DADADA; */
    margin-right: 20px;
    padding-left: 0;
}

.overViewBox.event {
    line-height: 16px;
    height: auto;
    min-height: 0;
    margin: 17px 0 20px;
    /* padding-bottom: 14px;
    border-bottom: 1px solid #DADADA; */
}

/* .overViewBox {
    position: relative;
} */

.overViewBox.event .left {
    display: block;
    width: 70%;
    padding-top: 0;
    float: left;
    padding-right: 19px;
}

.overViewBox .left {
    -webkit-box-align: start;
    align-items: flex-start;
    flex: 1;
    padding: 5px 5px 2px 0;
}

.overViewBox.event .right {
    width: 30%;
    height: auto;
    /* border-left: 1px solid #DADADA; */
    padding-left: 60px;
    float: right;
}

.overViewBox.event .right DIV {
    display: table-row;
}

.overViewBox.event .right SPAN:first-child {
    max-width: 89px;
    min-width: 47px;
    padding: 8px 7px 0 0;
}

.overViewBox.event .right SPAN {
    display: table-cell;
    padding-bottom: 20px;
}

.clear {
    clear: both;
}

.historyTbl th:nth-child(2) {
    min-width: 250px;
}

.historyTbl th:nth-child(3) {
    min-width: 100px;
}

.historyTbl th:nth-child(4) {
    min-width: 100px;
}

.historyTbl th:nth-child(5) {
    min-width: 100px;
}

.historyTbl th {
    border-bottom: 1px solid #EBEEF5;
}

/* .history-data {
    border-bottom: 1px solid #EBEEF5;
} */

.show-margin:first-child {
    margin-left: -150px !important;
}

.el-table__expanded-cell[class*=cell] {
    padding: 20px 20px !important;
}

.form-left {
    margin-left: 15px;
}

.expand .el-table__expand-column .cell {
    display: none;
}

.expand {
    background-color: #CCCDCE !important;
    color: black;
}

.expand .el-table_1_column_2 {
    text-align-last: left;
}

.expand td {
    background-color: #CCCDCE !important;
    color: black;
}

.el-col {
    border-radius: 4px;
}
.bg-purple-dark {
    background: #f4f4f4;
}

.grid-content {
    border-radius: 4px;
    height: 60px;
}

.clendar-ul {
    width: 1170px;
    margin: 0px auto;
    text-align: center;
}
.clendar-ul li {
    position: relative;
    float: left;
    /* line-height: 60px; */
    padding-left: 20px;
    list-style: none;
    font-size: 14px;
    height: 60px;
    padding-top: 10px;
}

.clendar-ul li:first-child,
.clendar-ul li:last-child {
    padding-top: 20px;
}

.calendar-pointer {
    cursor: pointer;
}

.calendar-left {
    border-left: 1px solid #dddddd;
    /* color: #dddddd; */
    font-size: 16px;
    line-height: 60px;
    height: 20px;
    padding-left: 10px;
    margin-left: 10px;
}

.el-form-item {
    margin-bottom: 0px !important;
}

.el-form--label-top .el-form-item__label {
    padding: 0px 0px 0px !important;
}

.el-checkbox {
    margin-right: 10px;
}

.calendar-form label {
    margin-bottom: 0px !important;
}

.calendar-form .el-form-item__label {
    line-height: normal !important;
}

.el-checkbox__input.is-checked+.el-checkbox__label {
    color: #f3953d !important;
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #f3953d !important;
    border-color: #f3953d !important;
}

.el-checkbox__inner:hover {
    border-color: #f3953d !important;
}

.el-table__expanded-cell {
    background-color: #f4f4f4;
}

.today_date {
    color: #f3953d;
    font-weight: bold;
}

.el-button {
    padding: 4px 4px !important;
}

.this_week {
    color: black !important;
}

.date-span {
    height: 40px;
}

.date-span p {
    padding-top: 15px;
    padding-left: 30px;
}

.date-span button {
    margin-top: 15px !important;
}
