<!-- Nav -->
<nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top navbar-autohide" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ 'home'|page }}">
                <img src="{{ 'assets/images/logo.png'|theme }}"/>
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="separator hidden-xs"></li>
                <!-- <li class="{% if this.page.id == 'ticker' %}active{% endif %}">
                    <a href="{{ 'ticker'|page }}">
                        行情报价
                    </a>
                </li>

                <li class="{% if this.page.id == 'ticker_dark' %}active{% endif %}">
                    <a href="{{ 'ticker_dark'|page }}">
                        行情报价(暗色)
                    </a>
                </li> -->

                <!-- <li class="{% if this.page.id == 'news' %}active{% endif %}">
                    <a href="{{ 'news'|page }}">
                        新闻快讯
                    </a>
                </li> -->

                <li class="{% if this.page.id == 'news_en' %}active{% endif %}">
                    <a href="{{ 'news_en'|page }}">
                        NEWS
                    </a>
                </li>

                <!-- <li class="{% if this.page.id == 'economic_calendar' %}active{% endif %}">
                    <a href="{{ 'economic_calendar'|page }}">
                        财经日历
                    </a>
                </li> -->

                <li class="{% if this.page.id == 'economic_calendar_en' %}active{% endif %}">
                    <a href="{{ 'economic_calendar_en'|page }}">
                        CALENDAR
                    </a>
                </li>

                <li class="{% if this.page.id == 'add_to_website' %}active{% endif %}">
                    <a href="{{ 'add_to_website'|page }}">
                        ADD TO WEBSITE
                    </a>
                </li>

                <!-- <li class="{% if this.page.id == 'home' %}active{% endif %}">
                    <a href="{{ 'home'|page }}">
                        Basic concepts
                    </a>
                </li>
                <li class="{% if this.page.id == 'ajax' %}active{% endif %}">
                    <a href="{{ 'ajax'|page }}">
                        AJAX framework
                    </a>
                </li> -->
                <!-- <li class="{% if this.page.id == 'plugins' %}active{% endif %}">
                    <a href="{{ 'plugins'|page }}">Plugin
                        components
                    </a>
                </li> -->
            </ul>
            <p style="padding-top: 25px;float: right; color: #999999;font-size: 14px;" id="nowTimeZone"></p>
        </div>
    </div>
</nav>